body {
    font-family: arial;
    color: #333;
    background-color: #bbb;
    width: 960px;
    margin: 10px auto;
}

a {
    color: #0858D3;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.smallLink {
    font-size: 10px;
}

iframe {
    border: 0;
    height: 24px;
    width: 60px;
    overflow: hidden;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    text-align: left;
}

tr {
    border-bottom: #aaa 1px solid;
}

td {
    vertical-align: top;
}

.clsTableText {
    font-size: 14px;
}

.error {
    font-size: 14px;
    font-weight: bold;
    color: #ff0000;
}

#divHeader {
    overflow: hidden;
    background-color:#999;
    padding: 5px;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
}

#divHeaderTitle {
    float: left;
    font-size:2em;
    font-weight: bold;
}

#divHeaderTitle > a {
    color: inherit;
    text-decoration: none;
}

#divHeaderMenu {
    float: right;
    overflow: hidden;
}

#divHeaderMenu > div {
    float: left;
    font-size: 14px;
    margin-left: 10px;
    line-height: 36px;
    text-align: center;
    width: 120px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

#divHeaderMenu > div > a {
    color: #0858D3;
    text-decoration: inherit;
    cursor: inherit;
}

.inactiveMenu {
    cursor: pointer;
}

.inactiveMenu:hover {
    text-decoration: underline;
}

.activeMenu {
    cursor: default;
    background-color: #ddd;
    color: #333;
}

#divContent {
    background-color: #ddd;
    padding: 10px;
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
}

.contentBlock {
    width: 300px;
    margin: 10px auto;

    background-color: #ccc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.contentBlockHeader {
    background-color: #838181;
    color: #fafafa;
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;

}

.contentBlockBody {
    padding: 5px;
}

.fileHeading {
    font-size: 12px;
    font-weight: bold;
}

textarea {
    width: 100%;
    height: 30px;
    margin-bottom: 20px;
    border: #ccc 1px solid;
}

table textarea {
    margin: 0;
    height: 100%;
    width: 200px;
}

#divHomeWrapper {
    width: 200px;
    margin: 50px auto;
    text-align: center;
}
