body {
    background: #efefef;
}

a {
    color: #000;
}

#body {
    width: 960px;
    margin: 50px auto;
}

#title {
    background: url(../../../includes/images/ps-logo-trans.png) no-repeat 0 0px;
    margin-bottom: 80px;
    padding-left: 130px;
    height: 120px;
}

#divMainWrapper {
    overflow: hidden;
}

input {
    border: none;
    background: #fff;
    border: 1px solid #ccc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 10px;
    text-align: center;
    margin: 30px 0 0 80px;
    cursor: pointer;
}

input:hover {
    background: #efefef;
}

#track-1 {
    float: left;
    width: 310px;
}

h1 {
    font-size: 60px;
    margin: 0;
}

#vs {
    font-weight: bold;
    margin-left: 105px;
    font-size: 90px;
    line-height: 90px;
    color: #888;
}

#track-2 {
    float: right;
}
#lower {
    clear: both;
}

#divJoinMesg {
    text-align:center;
    margin:20px auto 0 auto;
    font-size:16px;
    background:#ffffcc;
    padding:5px;
    width: 400px;
}

#lower h1 {
    border-top: 1px solid #000;
    width: 100%;
    float: none;
    margin-top: 20px;
    font-size: 20px;
    line-height: 36px;
    margin-left: 0px;
    color: #000;
}

#lower th {
    font-weight: bold;
    text-align: left;
}

#credit {
    margin-top: 100px;
    border-top: 1px solid #ccc;
    padding-top:10px;
    color: #777;
    font-size: 12px;
    font-family: helvetica;
}
