body {
    font-family: arial;
    background-color: #888;
}

#divWrapper {
    margin: 100px auto 0 auto;
    width: 960px;
    height: 287px;
    background: url(../images/texture.gif);
    overflow: hidden;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 5px 5px 5px black;
    -webkit-box-shadow: 5px 5px 5px black;
}

#divLeftCol {
    float: left;
    overflow: hidden;
    width: 807px;
}

#divInstrument {
    overflow: hidden;
    width: 800px;
    height: 190px;
    margin: 5px;
    padding-top: 5px;
    border: #838181 1px solid;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

#divInstrument > div {
    float: left;
    padding: 0 1px;
    margin-bottom:5px;
    width: 47px;
    height: 188px;
    color: #ccc;
    font-size: 8px;
    text-align: center;
    border-right: #838181 1px solid;
}

.drumPad {
    width: 20px;
    height: 20px;
    margin: 5px auto 0 auto;
    color: #333;
    background-color: #bbb;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.channelContentWrapper {
    width: 35px;
    margin: 5px auto 0 auto;
    padding: 3px;
    overflow: hidden;
    background-color: #2b2c2c;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.channelMute {
    float: left;
    width: 12px;
    height: 12px;
    color: #333;
    background-color: #bbb;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    line-height: 12px;
    cursor: pointer;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.channelSolo {
    float: right;
    width: 12px;
    height: 12px;
    color: #333;
    background-color: #bbb;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    line-height: 12px;
    cursor: pointer;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.channelMuteOn {
    color: #ccc;
    background-color:  #610000;
}

.channelSoloOn {
    color: #ccc;
    background-color:  #006100;
}

.divVolumeSlider {
    width: 30px;
    margin: 5px auto 0 auto;
}

.sliderOutter {
    width: 30px;
    height: 110px;
    background: url(../images/slider_bg.png);
}

.sliderInner {
    position: relative;
    width: 30px;
    height: 16px;
    background: url(../images/slider_knob.png);
    cursor: move;
}

.clsInstrumentActive {
    background-color: #ffffff !important;
}

#divSequencer {
    border: #838181 1px solid;
    overflow: hidden;
    width: 800px;
    margin-left: 5px;
    height: 73px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;

}

#divStepWrapper {
    width: 8004px;
    overflow: hidden;
    height: 65px;
    margin: 5px auto 0 auto;
}

.clsStep {
    float: left;
    width: 40px;
    height: 63px;
    margin: 0 5px;
    background-color: #333;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    cursor: pointer;
}

.clsStepOne {
    background-color: #595959;
}

.clsStepOn {
    background-color: #610000;
}

.clsStepDisabled {
    cursor: default;
    background-color: #1f1f1f;
}

.clsStepCurrent {
    background-color: #ccc;
}

#divRightCol {
    float: left;
    margin: 5px 0 0 5px;
    overflow: hidden;
    border: #838181 1px solid;
    color: #ccc;
    font-size: 10px;
    width: 135px;
    height: 265px;
    padding: 5px 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.digitalDisplay {
    margin-top:5px;
    border:1px solid #888;
    color:#cc0000;
    background-color:#000;
    width:30px;
    height:16px;
    font-family: Monospace;
    font-size:14px;
    font-weight:bold;
    line-height:16px;
    text-align:center;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

#shuttleSliderWrapper {
    width: 120px;
    margin: 0 5px;
    overflow: hidden;
}

.sliderWrapper {
    float: left;
    width: 30px;
    text-align: center;
    margin-right: 10px;
}

#divViewBarOutterWrapper {
    margin: 5px 0 0 5px;
}

#divViewBarInnerWrapper {
    overflow: hidden;
}

.viewBar {
    float: left;
    margin-right: 5px;
}

.barCurrent {
    color: #ccc;
    background-color: #610000;
}

.barDisabled {
    background-color: #1f1f1f;
    cursor: default;
}

#divLoopPositionWrapper {
    overflow: hidden;
    margin-top: 5px;
    line-height: 24px;
}

.shuttle {
    float: right;
    margin: 5px 5px 0 0;
    padding-right: 2px;
    width: 50px;
    text-align: right;
}

#divShuttleButtonWrapper {
    overflow: hidden;
    margin: 5px 0 0 5px;
}

.shuttleButton {
    float: left;
    margin-right: 5px;
    text-align: center;
    width: 40px;
    height: 40px;
    background: url(../images/buttonsprite.png);
    cursor: pointer;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.btnStart {
    float: left;
    background-position: 0 -80px;
}

.btnPlay {
    float: right;
    background-position: 0 0;
}

.btnPause {
    float: right;
    background-position: 0 -40px;
}
